@import url("https://use.typekit.net/jmk3xov.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Teko:wght@300;400;500;600;700&display=swap');

canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

:root {
  width: 100vw;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  color: #ffffff;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

blockquote {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 2.3rem;
  letter-spacing: 2px;
  margin-top: 40rem;
}

h1 {
  margin-top: 0;
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem;
  font-weight: 600;

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#bg {
  width: 100vw;
  height: 100vh;
}

header {
  background: none;
  grid-column: 2 / span 5;
  font-size: 2.6rem;
  padding: 2rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  padding-top: 0;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;

  line-height: 1.2;
  margin-bottom: 5rem;
}

blockquote {
  margin: 0;
  margin-top: 60rem;
  padding: 3px 10px;
  grid-column: 2 / span 9;
  margin-bottom: 350px;
  
}

blockquote p {
  color: #ffffff;
  font-size: 3.5rem;
  display: inline;
  line-height: 1 + 5rem;
}

.skills {
  justify-items: right;
  columns: 1;
}

.left {
  justify-items: right;
  grid-column: 6 / 12;
}

section.left {
  text-align: right;
  justify-items: right;
  grid-column: 6 / 12;
}

section.end {
  text-align: left;
  justify-items: left;
  padding: 2rem;
  letter-spacing: 2px;
  margin-bottom: 0rem;
}

ul {
  list-style-type: square;
  font-size: 1.8rem
}

@media screen and (max-width: 768px) {
  header {
    font-size: 2rem;
    margin-bottom: 50rem;
  }

  section {
    grid-column: 1 / -1;
    padding: 1rem;
  }

  section.left {
    margin-bottom: 30rem;
  }

  section.end p {
    font-size: 1.4rem;
  }

  blockquote {
    margin-top: 20rem;
    margin-bottom: 60rem;
  }
}
